---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<a href="/index/">ホーム</a>
		<h1>私のこと</h1>
		月鰯です。小説やら短歌やらを書きます。
	</body>
</html>
